<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gis电子商城-订单详情</title>
    <link rel="stylesheet" href="../../css/mall/css/swiper.min.css">
    <link rel="stylesheet" href="../../css/mall/css/iconfont.css">
    <link rel="stylesheet" href="../../css/mall/css/common.css">
    <link rel="stylesheet" href="../../css/mall/styles/header.css">
    <link rel="stylesheet" href="../../css/mall/styles/order-detail.css">
    <link rel="stylesheet" href="../../css/admin/plugins/sweetalert/sweetalert.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/grzx.css"/>
    <!--    <link rel="stylesheet" type="text/css" href="../../css/css.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../css/zt.css"/>
</head>
<link rel="stylesheet" href="../../css/admin/plugins/sweetalert/sweetalert.css"/>
<link href="../../css/mall/css/bootstrap-modal.css" rel="stylesheet">
<body>
<header id="header">
    <div class="center">
        <ul class="fl">
            <li><a href="index.html">Gis商城</a></li>
        </ul>
        <div class="fr">

            <div class="user">
                <ul class="selector">
                    <li>
                        <a href="center.html">
                            个人中心
                        </a>
                    </li>
                    <li>
                        <a href="my_orders.html">
                            我的订单
                        </a>
                    </li>
                    <li>
                        <a href="javascript:loginout()">
                            退出登录
                        </a>
                    </li>
                </ul>
                <a href="##" class="username">
                    test
                    <i class="iconfont icon-down"></i>
                </a>
            </div>
            <div class="shopcart">
                <a href="cart.html" style="color: white;"><i class="iconfont icon-cart"></i>
                    购物车(
                    0
                    )</a>
            </div>


        </div>
    </div>
</header>
<!-- nav -->

<!-- personal -->
<div id="personal">
    <div class="self-info center" id="app">

        <!-- sidebar -->
        <div class="grzxdht">
            <div class="gr">
                <a href="center.html">个人资料</a>
            </div>
            <div class="gr">
                <a href="collect.html">我的收藏</a>
            </div>
            <div class="gr">
                <a href="follow.html">我的关注</a>
            </div>
            <!--            <div class="gr">-->
            <!--                <a href="my_address.html">我的地址</a>-->
            <!--            </div>-->
            <div class="gr">
                <a href="cart.html">我的购物车</a>
            </div>
            <div class="gr">
                <a href="my_orders.html">我的订单</a>
            </div>
            <div class="gr">
                <a href="xgmima.html">修改密码</a>
            </div>
            <div class="gr">
                <a href="javascript:loginout()">退出</a>
            </div>
        </div>

        <div class="intro fr">
            <div class="uc-box uc-main-box" v-for="(item, index) in order" :key="index">
                <div class="uc-content-box order-view-box">
                    <div class="box-hd">
                        <h1 class="title">订单详情
                            <small>请谨防钓鱼链接或诈骗电话，<a href="##">了解更多&gt;</a>
                            </small>
                        </h1>
                        <div class="more clearfix">
                            <h2 class="subtitle">订单号：{{item.orderNo}}
                                <span class="tag tag-subsidy"></span>
                            </h2>
                            <div class="actions">
                                <input type="hidden" id="orderNoValue">
                                <div v-if="item.orderStatus>=0 && item.orderStatus<1">
                                    <a @click="cancelOrder(item.orderNo)"
                                       class="btn btn-small btn-line-gray" title="取消订单">取消订单</a>
                                </div>
                            </div>
                            <div class="actions">
                                <input type="hidden" id="">
                                <div v-if="item.orderStatus>=1 && item.orderStatus<4">
                                    <a @click="refundModal"
                                       class="btn btn-small btn-line-gray" title="申请退货">申请退货</a>
                                </div>
                            </div>
                            <div class="actions">
                                <div v-if="item.orderStatus==0">
                                    <a @click="payOrder(item.orderNo)"
                                       class="btn btn-small btn-primary" title="去支付">去支付</a>
                                </div>
                                <div v-if="item.orderStatus==3">
                                    <a @click="finishOrder(item.orderNo)"
                                       class="btn btn-small btn-primary" title="确认收货">确认收货</a>
                                </div>
                                <div v-if="item.orderStatus==4">
                                    <a @click="commentModal"
                                       class="btn btn-small btn-primary" title="待评价">待评价</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-bd">
                        <div class="uc-order-item uc-order-item-pay">
                            <div class="order-detail">
                                <div class="order-summary">
                                    <div class="order-desc">
                                        <div v-if="item.orderStatus==0">请尽快完成支付~</div>
                                        <div v-if="item.orderStatus >=0 && item.orderStatus < 1">
                                            剩余：{{day}}天{{hr}}:{{min}}:{{sec}} 将自动取消订单
                                        </div>
                                        <div v-if="item.orderStatus==1">您已支付成功,请耐心等耐商家发货</div>
                                        <div v-if="item.orderStatus==2">仓库正在紧急配货中~</div>
                                        <div v-if="item.orderStatus==3">订单已出库正在快马加鞭向您奔来~</div>
                                        <div v-if="item.orderStatus==4">交易完成</div>
                                        <div v-if="item.orderStatus==5">已评价</div>
                                        <div v-if="item.orderStatus < 0 ">交易已关闭~</div>
                                        <div v-if="item.orderStatus == -1 ">&nbsp;&nbsp;&nbsp;手动关闭</div>
                                        <div v-if="item.orderStatus == -2 ">&nbsp;&nbsp;&nbsp;超时关闭</div>
                                        <div v-if="item.orderStatus == -3 ">&nbsp;&nbsp;&nbsp;商家关闭</div>
                                        <div v-if="item.orderStatus == -5 ">&nbsp;&nbsp;&nbsp;已退款</div>
                                    </div>
                                    <div>
                                        <div class="order-progress">
                                            <ol class="progress-list clearfix progress-list-5">
                                                <li class="step step-active">
                                                    <div class="progress" v-if=" item.orderStatus >=0"><span
                                                            class="text">下单</span></div>
                                                    <div class="info">
                                                        {{dateFormat(item.creatTime)}}
                                                    </div>
                                                </li>
                                                <li v-if=" item.orderStatus <1" class="step">
                                                    <div class="progress"><span class="text">付款</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li class="step step-active" v-else-if="item.orderStatus >=1">
                                                    <div class="progress"><span
                                                            class="text">付款</span></div>
                                                    <div class="info">
                                                        {{dateFormat(item.payTime)}}
                                                    </div>
                                                </li>
                                                <li v-else-if="item.orderStatus >1" class="step step-done">
                                                    <div class="progress"><span class="text">付款</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-if=" item.orderStatus <2" class="step">
                                                    <div class="progress"><span class="text">配货</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-else-if="item.orderStatus >=2" class="step step-active">
                                                    <div class="progress"><span class="text">配货</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-else-if="item.orderStatus >2" class="step step-done">
                                                    <div class="progress"><span class="text">配货</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-if=" item.orderStatus <3" class="step">
                                                    <div class="progress"><span class="text">出库</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-else-if="item.orderStatus >=3" class="step step-active">
                                                    <div class="progress"><span class="text">出库</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-else-if="item.orderStatus >3" class="step step-done">
                                                    <div class="progress"><span class="text">出库</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-if=" item.orderStatus <4" class="step">
                                                    <div class="progress"><span class="text">交易成功</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-else-if="item.orderStatus >=4" class="step step-active">
                                                    <div class="progress"><span class="text">交易成功</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-else-if="item.orderStatus >4" class="step step-done">
                                                    <div class="progress"><span class="text">交易成功</span></div>
                                                    <div class="info"></div>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <table class="order-items-table">
                                    <tbody v-for="(cartList,index) in cartList">

                                    <!--                                    <th:block th:each="item : ${myShoppingCartItems} @{'/goods/detail/'+${item.goodsId}">-->
                                    <tr>
                                        <td class="col col-thumb">
                                            <div class="figure figure-thumb">
                                                <a target="_blank" href="#">
                                                    <img :src="cartList.productImg"
                                                         width="80" height="80" alt="">

                                                </a>
                                            </div>
                                        </td>
                                        <td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        </td>
                                        <td class="col col-name">
                                            <p class="name">
                                                <a target="_blank" href="#">{{cartList.productName}}</a>
                                            </p>
                                        </td>
                                        <td class="col col-price"><p class="price">

                                            <!--                                                v-number="cartList.price+'元 x '+cartList.productCount"-->
                                            {{cartList.productPrice}}.00元 × {{cartList.productQuantity}}</p></td>
                                        <td class="col col-actions">
                                        </td>
                                    </tr>
                                    <!--                                    </th:block>-->
                                    </tbody>
                                </table>
                                <div id="editAddr" class="order-detail-info">
                                    <h3>收货信息</h3>
                                    <table class="info-table">
                                        <tbody>
                                        <tr>
                                            <th>联系人：</th>
                                            <td v-if="item.receiverName == ''">请选择收货人</td>
                                            <td v-else-if="item.receiverName != ''">{{item.receiverName}}
                                                {{item.receiverPhone}}
                                            </td>
                                            <th></th>
                                            <th>收货地址：</th>
                                            <td class="user_address_label" v-if="item.receiverDetailAdress == null">
                                                暂无收货地址
                                            </td>
                                            <td v-else>{{item.receiverProvince}} {{item.receiverCity}}
                                                {{item.receiverDetailAdress}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="actions">
                                    </div>
                                </div>
                                <div id="editTime" class="order-detail-info">
                                    <h3>支付方式</h3>
                                    <table class="info-table">
                                        <tbody>
                                        <tr>
                                            <th>支付方式：</th>
                                            <td v-if="item.payType ==null || item.payType==''">
                                                暂未支付
                                            </td>
                                            <td v-else-if="item.payType ==1">
                                                支付宝支付
                                            </td>
                                            <td v-else-if="item.payType ==2">
                                                微信支付
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="actions">
                                    </div>
                                </div>
                                <div class="order-detail-total">
                                    <table class="total-table">
                                        <tbody>
                                        <tr>
                                            <th>商品总价：</th>
                                            <td><span class="num">{{item.totalPrice}}.00</span>元</td>
                                        </tr>
                                        <tr>
                                            <th>运费：</th>
                                            <td><span class="num">0.00</span>元</td>
                                        </tr>
                                        <tr>
                                            <th>应付金额：</th>
                                            <td><span class="num">{{item.totalPrice}}.00</span>元</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="modal fade" id="personalInfoModal" tabindex="-1" role="dialog"
             aria-labelledby="personalInfoModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="personalInfoModalLabel">退货申请</h4>
                    </div>
                    <div class="modal-body">
                        <form id="personalInfoForm">
                            <div class="form-group">
                                <label class="control-label">退货原因:</label>
                                <input type="text" class="form-control" id="refundReason" name="address"
                                       placeholder="请输入退货原因" v-model="refundReason"
                                       required="true">
                                <!--                                <label class="control-label">联系电话:</label>v-model="refundReason"-->
                                <!--                                <input type="text" class="form-control" id="phoneNumber" name="address"-->
                                <!--                                       placeholder="请输入收货人联系电话" v-model="updateAddressList.phoneNumber"-->
                                <!--                                       required="true">v-for="item in aList" @click="updateAddress(item.id)"-->

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" v-for="(item, index) in order" :key="index">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="refund(item.totalPrice)">确认</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="personalInfoModal2" tabindex="-1" role="dialog"
             aria-labelledby="personalInfoModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="personalInfoModalLabel">用户评价</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div>
                                <div @click="openImg">
                                    <img src="../../upload/xzsp.png" v-if="comment.pics==''"/>
                                    <img id="image" :src="comment.pics" controls="controls"
                                         style="width: 100%;height: 100%;" v-else>
                                    <!--                                        您的浏览器不支持 video 标签-->
                                    </img>
                                </div>
                                <form id="fileForm" enctype="multipart/form-data" method="post">
                                    <input id="file" @change="preview" type="file" name="file" style="display: none;"/>
                                </form>
                                <div style="height: 0px; margin-left: 400px">
                                    <button @click="openImg"
                                            style="width: 56px; height: 28px; float: left; bottom: 0px;margin-left: 12px;">
                                        选择
                                    </button>
                                    <button @click="CommentUpload"
                                            style="width: 56px; height: 28px; float: left; bottom: 0px;margin-left: 12px;">
                                        上传
                                    </button>
                                </div>
                            </div>
                            <div style="float: left; margin-top: 20px;">
                                <h5 style="float: left;margin-top:20px">请评分：</h5>
                                <table style="margin-left: 10px;margin-top:17px" border="0" cellspacing="0"
                                       cellpadding="1" class="table_score table_score_v2">
                                    <tbody>
                                    <tr>
                                        <td class="div_float" score_v="1" style="width: 53px; text-align: left;">
                                            <div class="q_scale_wrapper"><input name="number" type="radio"
                                                                                v-model.number="comment.star"
                                                                                value="1"/>
                                                <label>1</label>
                                            </div>
                                        </td>
                                        <td class="div_float" score_v="2" style="width: 53px;">
                                            <div class="q_scale_wrapper"><input name="number" type="radio"
                                                                                v-model.number="comment.star"
                                                                                value="2"/>
                                                <label>2</label>
                                            </div>
                                        </td>
                                        <td class="div_float" score_v="3" style="width: 53px;">
                                            <div class="q_scale_wrapper"><input name="number" type="radio"
                                                                                v-model.number="comment.star"
                                                                                value="3"/>
                                                <label>3</label>
                                            </div>
                                        </td>
                                        <td class="div_float" score_v="4" style="width: 53px;">
                                            <div class="q_scale_wrapper"><input name="number" type="radio"
                                                                                v-model.number="comment.star"
                                                                                value="4"/>
                                                <label>4</label>
                                            </div>
                                        </td>
                                        <td class="div_float" score_v="5" style="width: 53px; ">
                                            <div class="q_scale_wrapper"><input name="number" type="radio"
                                                                                v-model.number="comment.star"
                                                                                value="5"/>
                                                <label>5</label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div style="float: left; margin-top: 20px;">
                                    <textarea style="height: 250px;width: 500px;" v-model="comment.content"
                                              placeholder="请输入评价内容"></textarea>
                                </div>
                                <div class="zxbt" style="display:flex; float: left">
                                    <p><span class="red">*</span>是否匿名：</p>
                                    <div class="xzsp">
                                        <div style="width: 100px;height: unset">
                                            <input type="radio" name="showStatus" v-model.number="comment.showStatus"
                                                   value="0" id="yes"/><label for="yes">是</label>
                                            <input type="radio" name="showStatus" v-model.number="comment.showStatus"
                                                   value="1" id="no"/><label for="no">否</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" v-for="(item, index) in order" :key="index">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="saveComment(item.id,item.productId,item.productName)">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div th:replace="mall/footer::footer-fragment"></div>-->
<!-- jQuery -->
<script src="../../js/jquery.js"></script>
<script src="../../css/mall/js/bootstrap3.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/md5.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/mall/order_detail.js"></script>
<script src="../../js/jquery.form.js"></script>
</body>
</html>