<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/mall/css/swiper.min.css">
    <link rel="stylesheet" href="../../css/mall/css/iconfont.css">
    <link rel="stylesheet" href="../../css/mall/css/common.css">
    <link rel="stylesheet" href="../../css/mall/styles/header.css">
    <link rel="stylesheet" href="../../css/mall/styles/order-detail.css">
    <link rel="stylesheet" href="../../css/admin/plugins/sweetalert/sweetalert.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/grzx.css"/>
    <!--    <link rel="stylesheet" type="text/css" href="../../css/css.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../css/zt.css"/>
</head>
<link rel="stylesheet" href="../../css/admin/plugins/sweetalert/sweetalert.css"/>
<body>
<header id="header">
    <div class="center">
        <ul class="fl">
            <li><a href="index.html">Gis商城</a></li>
        </ul>
        <div class="fr">

            <div class="user">
                <ul class="selector">
                    <li>
                        <a href="center.html">
                            个人中心
                        </a>
                    </li>
                    <li>
                        <a href="my_orders.html">
                            我的订单
                        </a>
                    </li>
                    <li>
                        <a href="javascript:loginout()">
                            退出登录
                        </a>
                    </li>
                </ul>
                <a href="##" class="username">
                    十三
                    <i class="iconfont icon-down"></i>
                </a>
            </div>
            <div class="shopcart">
                <a href="cart.html" style="color: white;"><i class="iconfont icon-cart"></i>
                    购物车(
                    0
                    )</a>
            </div>


        </div>
    </div>
</header>
<!-- nav -->

<!-- personal -->
<div id="personal">
    <div class="self-info center" id="app">

        <!-- sidebar -->
        <div class="grzxdht">
            <div class="gr">
                <a href="center.html">个人资料</a>
            </div>
            <div class="gr">
                <a href="collect.html">我的收藏</a>
            </div>
            <div class="gr">
                <a href="follow.html">我的关注</a>
            </div>
            <!--					<div class="gr">-->
            <!--						<a href="wdfensi.html">我的粉丝</a>-->
            <!--					</div>-->
            <div class="gr">
                <a href="cart.html">我的购物车</a>
            </div>
            <div class="gr">
                <a href="my_orders.html">我的订单</a>
            </div>
            <!--					<div class="gr">-->
            <!--						<a href="wdzhixun.html">我的咨询</a>-->
            <!--					</div>-->
            <!--					<div class="gr">-->
            <!--						<a href="wdwujuan.html">我参与的问卷</a>-->
            <!--					</div>-->
            <div class="gr">
                <a href="xgmima.html">修改密码</a>
            </div>
            <div class="gr">
                <a href="javascript:loginout()">退出</a>
            </div>
        </div>

        <div class="intro fr">
            <div class="uc-box uc-main-box" v-for="(item, index) in order" :key="index">
                <div class="uc-content-box order-view-box">
                    <div class="box-hd">
                        <h1 class="title">订单详情
                            <small>请谨防钓鱼链接或诈骗电话，<a href="##">了解更多&gt;</a>
                            </small>
                        </h1>
                        <div class="more clearfix">
                            <h2 class="subtitle">订单号：{{item.orderNo}}
                                <span class="tag tag-subsidy"></span>
                            </h2>
                            <div class="actions">
                                <input type="hidden" id="orderNoValue">
                                <div v-if="item.orderStatus>=0 && item.orderStatus<3">
                                    <a @click="cancelOrder(item.orderNo)"
                                       class="btn btn-small btn-line-gray" title="取消订单">取消订单</a>
                                </div>
                            </div>
                            <div class="actions">
                                <div v-if="item.orderStatus==0">
                                    <a @click="payOrder(item.orderNo)"
                                       class="btn btn-small btn-primary" title="去支付">去支付</a>
                                </div>
                                <div v-if="item.orderStatus==3">
                                    <a @click="finishOrder(item.orderNo)"
                                       class="btn btn-small btn-primary" title="确认收货">确认收货</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-bd">
                        <div class="uc-order-item uc-order-item-pay">
                            <div class="order-detail">
                                <div class="order-summary">
                                    <div class="order-desc">
                                        <div v-if="item.orderStatus==0">请尽快完成支付~</div>
                                        <div v-if="item.orderStatus==1">您已支付成功,请耐心等耐商家发货</div>
                                        <div v-if="item.orderStatus==2">仓库正在紧急配货中~</div>
                                        <div v-if="item.orderStatus==3">订单已出库正在快马加鞭向您奔来~</div>
                                        <div v-if="item.orderStatus==4">交易完成</div>
                                        <div v-if="item.orderStatus < 0 ">交易已关闭~</div>

                                    </div>
                                    <div>
                                        <div class="order-progress">
                                            <ol class="progress-list clearfix progress-list-5">
                                                <li class="step step-active">
                                                    <div class="progress" v-if=" item.orderStatus >=0"><span
                                                            class="text">下单</span></div>
                                                    <div class="info">
                                                        {{dateFormat(item.creatTime)}}
                                                    </div>
                                                </li>
                                                <li v-if=" item.orderStatus <1" class="step">
                                                    <div class="progress"><span class="text">付款</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li class="step step-active" v-else-if="item.orderStatus >=1">
                                                    <div class="progress"><span
                                                            class="text">付款</span></div>
                                                    <div class="info">
                                                        {{dateFormat(item.payTime)}}
                                                    </div>
                                                </li>
                                                <li v-else-if="item.orderStatus >1" class="step step-done">
                                                    <div class="progress"><span class="text">付款</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-if=" item.orderStatus <2" class="step">
                                                    <div class="progress"><span class="text">配货</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-else-if="item.orderStatus >=2" class="step step-active">
                                                    <div class="progress"><span class="text">配货</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-else-if="item.orderStatus >2" class="step step-done">
                                                    <div class="progress"><span class="text">配货</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-if=" item.orderStatus <3" class="step">
                                                    <div class="progress"><span class="text">出库</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-else-if="item.orderStatus >=3" class="step step-active">
                                                    <div class="progress"><span class="text">出库</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-else-if="item.orderStatus >3" class="step step-done">
                                                    <div class="progress"><span class="text">出库</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-if=" item.orderStatus <4" class="step">
                                                    <div class="progress"><span class="text">交易成功</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-else-if="item.orderStatus ==4" class="step step-active">
                                                    <div class="progress"><span class="text">交易成功</span></div>
                                                    <div class="info"></div>
                                                </li>
                                                <li v-else-if="item.orderStatus >4" class="step step-done">
                                                    <div class="progress"><span class="text">交易成功</span></div>
                                                    <div class="info"></div>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <table class="order-items-table">
                                    <tbody v-for="(cartList,index) in cartList">

                                    <!--                                    <th:block th:each="item : ${myShoppingCartItems} @{'/goods/detail/'+${item.goodsId}">-->
                                    <tr>
                                        <td class="col col-thumb">
                                            <div class="figure figure-thumb">
                                                <a target="_blank" href="#">
                                                    <img :src="cartList.productImg"
                                                         width="80" height="80" alt="">
                                                </a>
                                            </div>
                                        </td>
                                        <td class="col col-name">
                                            <p class="name">
                                                <a target="_blank" href="#">{{cartList.productName}}</a>
                                            </p>
                                        </td>
                                        <td class="col col-price"><p class="price">

                                            <!--                                                v-number="cartList.price+'元 x '+cartList.productCount"-->
                                            {{cartList.productPrice}}元 × {{cartList.productQuantity}}</p></td>
                                        <td class="col col-actions">
                                        </td>
                                    </tr>
                                    <!--                                    </th:block>-->
                                    </tbody>
                                </table>
                                <div id="editAddr" class="order-detail-info">
                                    <h3>收货信息</h3>
                                    <table class="info-table">
                                        <tbody>
                                        <tr>
                                            <th>联系人：</th>
                                            <td v-if="item.receiverName == ''">请选择收货人</td>
                                            <td v-else-if="item.receiverName != ''">{{item.receiverName}}
                                                {{item.receiverPhone}}
                                            </td>
                                            <th></th>
                                            <th>收货地址：</th>
                                            <td class="user_address_label" v-if="item.receiverDetailAdress == null">
                                                暂无收货地址
                                            </td>
                                            <td v-else>{{item.receiverProvince}} {{item.receiverCity}}
                                                {{item.receiverDetailAdress}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="actions">
                                    </div>
                                </div>
                                <div id="editTime" class="order-detail-info">
                                    <h3>支付方式</h3>
                                    <table class="info-table">
                                        <tbody>
                                        <tr>
                                            <th>支付方式：</th>
                                            <td v-if="item.payType ==1">
                                                支付宝支付
                                            </td>
                                            <td v-else-if="item.payType ==2">
                                                微信支付
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="actions">
                                    </div>
                                </div>
                                <div class="order-detail-total">
                                    <table class="total-table">
                                        <tbody>
                                        <tr>
                                            <th>商品总价：</th>
                                            <td><span class="num">{{item.totalPrice}}.00</span>元</td>
                                        </tr>
                                        <tr>
                                            <th>运费：</th>
                                            <td><span class="num">0.00</span>元</td>
                                        </tr>
                                        <tr>
                                            <th class="total">应付金额：</th>
                                            <td><span class="num">{{item.totalPrice}}.00</span>元</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!--<div th:replace="mall/footer::footer-fragment"></div>-->
<!-- jQuery -->
<script src="../../css/admin/plugins/jquery/jquery.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/md5.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/mall/order_detail.js"></script>
</body>
</html>