<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link rel="stylesheet" href="../../css/mall/css/swiper.min.css">
    <link rel="stylesheet" href="../../css/mall/css/iconfont.css">
    <link rel="stylesheet" href="../../css/mall/css/common.css">
    <link rel="stylesheet" href="../../css/mall/styles/header.css">
    <link rel="stylesheet" href="../../css/mall/styles/detail.css">
    <link rel="stylesheet" href="../../css/admin/plugins/sweetalert/sweetalert.css"/>
</head>
<body>
<div id="detail">
    <!-- nav -->
    <!--    <nav th:replace="mall/header::nav-fragment"></nav>-->
    <header id="header">
        <div class="center">
            <ul class="fl">
                <li><a href="index.html">Gis商城</a></li>
                <li><a href="../goods_get.html">后台管理系统</a></li>
            </ul>
            <div class="fr">
                <!--            <div >-->
                <div class="user" v-if="vip !=null">
                    <ul class="selector">
                        <li>
                            <a href="center.html">
                                个人中心
                            </a>
                        </li>
                        <li>
                            <a href="my_orders.html">
                                我的订单
                            </a>
                        </li>
                        <li>
                            <a href="javascript:loginout()">
                                退出登录
                            </a>
                        </li>
                    </ul>
                    <a href="##" class="username">
                        <div>{{user.nick}}</div>
                        <i class="iconfont icon-down"></i>
                    </a>
                </div>
                <div class="shopcart">
                    <a href="cart.html" style="color: white;"><i class="iconfont icon-cart"></i>
                        购物车(
                        {{cart.count}}
                        )</a>
                </div>
                <!--            </div>-->
                <div v-if="vip==null">
                    <ul class="login">
                        <li><a href="login.html">登录</a></li>
                        <li><a href="register.html">注册</a></li>
                    </ul>
                    <div class="shopcart">
                        <a href="##" style="color: white;"><i class="iconfont icon-cart"></i>
                            购物车(0)</a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="intro mt20 w clearfix">
        <div class="left fl" style="position: relative;">
            <div class="swiper-container fl">
                <img :src="detail.productImg" width="620px" height="513px">
            </div>
        </div>
        <div class="right fr">

            <div class="h3 ml20 mt20">{{detail.productName}}</div>
            <div style="background-color: #e9e9e9;">
                <div class="abc ml20 mt10">
                    原价：￥{{detail.price}}.00
                </div>
                <div class="item_price mr40 ml20 mt10">
                    现价：￥{{detail.promotePrice}}.00
                </div>
            </div>

            <ul class="kucun">
                <li class="tm-ind-item">
                    <div>
                        <label class="label11">库存</label>
                        <label class="label22">{{detail.stock}}</label>
                    </div>
                </li>
                <li class="tm-ind-item">
                    <div>
                        <label class="label11">销量</label>
                        <label class="label22">{{detail.sale}}</label>
                    </div>
                </li>
                <li class="tm-ind-item">
                    <div>
                        <label class="label11"><a href="#add">评价</a></label>
                        <label class="label22">2</label></div>
                </li>
            </ul>
            <div class="sub_title mr40 ml20 mt10">{{detail.description}}</div>
            <div class="ml20">
                <p>购买数量：<input type="number" class="mui-amount-input" v-model="detail.productCount" maxlength="8"
                               title="请输入购买量">
            </div>
            <div class="order ml50">
                <input class="car1" type="button" @click="saveAndGoToCart(detail)" value="立即选购"/>
                <input class="car2" type="button" @click="saveToCart(detail)" value="加入购物车"/>
            </div>
            <div class="tb-extra ml20" id="J_tbExtra">
                <dl>
                    <dt>承诺</dt>
                    <dd><a class="J_Cont" title="满足7天无理由退换货申请的前提下，包邮商品需要买家承担退货邮费，非包邮商品需要买家承担发货和退货邮费。" href="#"
                           target="_blank"><img src="../../css/mall/image/7d.jpg">7天无理由</a></dd>
                </dl>
                <dl>
                    <dt>支付</dt>
                    <dd><a href="##" target="_blank"><img src="../../css/mall/image/hua.png">蚂蚁花呗</a><a href="##"
                                                                                                        target="_blank"><img
                            src="../../css/mall/image/card.png">信用卡支付</a><a href="##" target="_blank"><img
                            src="../../css/mall/image/ji.png">集分宝</a></dd>
                </dl>
                <dl>
                    <dt>支持</dt>
                    <dd>折旧变现，买新更省钱。<a style="float:none;text-decoration: underline;" href="##">详情</a></dd>
                </dl>

            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- 这里使用的是 th:utext 标签，用 th:text 不会解析 html，用 th:utext 会解析 html -->
    <div class="dc">
        <div class="content w">
            <!--            <div class="title fl">商品详情</div>-->
            <!--            <div class="title fl">商品详情</div>-->
            <nav>
                <li style="font-size: 50px;font-weight: bold;"><a href="##">商品详情&nbsp;&nbsp;|</a></li>
                <!--                <li>|</li>-->
                <!--                <li><a href="##">详情</a></li>-->
                <!--                <li style="font-size: 22px;font-weight: bold;">|</li>-->
                <li style="font-size: 50px;font-weight: bold;"><a href="#add">用户评价</a></li>
                <div class="clear"></div>
            </nav>
            <div class="clear"></div>
        </div>
    </div>
    <!--    <div class="dc">-->
    <!--        <div class="content w">-->
    <!--            <div class="title fl">商品简介-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="intro mt20 w clearfix">
        <span v-html="detail.detail"></span>
    </div>
    <div class="intro mt20 w clearfix">
        <a name="add"></a><!-- 定义锚点 -->
        <div class="rate-header rate-header-tags" style="display: block;"
             data-spm-anchor-id="a220o.1000855.0.i1.6970255c8AAfyA">
            <div class="rate-score"><h5>与描述相符</h5><strong class="stronger">4.8</strong>
                <p><span class="score-value-no score-value-4d8"><em></em></span>
                </p>
            </div>
<!--            <div class="rate-graph">-->
<!--                <div class="graph-scroller"><span style="width:96%"><em>4.8</em></span></div>-->
<!--                <ol class="graph-desc">-->
<!--                    <li>非常不满</li>-->
<!--                    <li>不满意</li>-->
<!--                    <li>一般</li>-->
<!--                    <li>满意</li>-->
<!--                    <li>非常满意</li>-->
<!--                </ol>-->
<!--            </div>-->
            <div class="rate-tag-box">
                <div class="rate-tag-label">
                    <span>大家都写到</span>
                </div>
                <div class="rate-tag-list">
                    <div class="rate-tag-inner" style="overflow: hidden;">
                    <span class="tag-posi">
                        <a id="ratetag676_20011000a" href="#" data-posi="1" data-id="20011000"
                           data-spm-anchor-id="a220o.1000855.0.0" class="">颜值很高(1643)<s></s></a>
                    </span>
                        <span class="tag-posi"><a id="ratetag676_20051059a" href="#" data-posi="1" data-id="20051059">字清晰(1296)<s></s></a>
                    </span>
                        <span class="tag-posi"><a id="ratetag676_20221001a" href="#" data-posi="1" data-id="20221001">拍摄效果很好(1293)<s></s></a></span>
                        <span class="tag-posi"><a id="ratetag676_20201000a" href="#" data-posi="1" data-id="20201000">快递很好(1286)<s></s></a></span>
                        <span class="tag-posi"><a id="ratetag676_20101023a" href="#" data-posi="1" data-id="20101023">运行速度快(1211)<s></s></a></span>
                        <span class="tag-neg"><a id="ratetag676_20201000b" href="#" data-posi="-1" data-id="20201000">快递一般(108)<s></s></a></span>
                    </div>
                </div>
                <span class="rate-tag-toggle" title="显示所有信息"></span></div>
        </div>

        <table>
            <tbody>
            <tr v-for="item in commentList">
                <td style="width: 494px;padding-right: 30px;">
                    <div style="font-size: 12px">{{item.content}}</div>
                    <div style="zoom: 1;">
                        <ul style="margin: 10px 0;list-style-type: none;height: 40px;">
                            <li><img width="40" height="40" :src="item.pics"/></li>
                        </ul>
                    </div>
                    <div style="clear: both;color: #ccc;font-size: 12px;">{{dateFormat(item.createTime)}}</div>
                </td>
                <td style="width: 160px;color: #999;">
                    <img width="20" height="20" v-for="star in item.star " :src="star <= item ? imgs.off : imgs.on"
                         alt="1"/>
                </td>
                <td style="padding-right: 0;">
                    <div style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 95px; font-size: 12px"
                         v-if="item.showStatus ==0">
                        {{substrNick(item.memberNickName)}}
                        <span>***</span>
                        {{substrMemberNickName(item.memberNickName)}}
                        <span>（匿名）</span>
                    </div>
                    <div style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 95px; font-size: 12px"
                         v-if="item.showStatus ==1">
                        {{(item.memberNickName)}}
                    </div>
                </td>
            </tr>


            </tbody>
        </table>
    </div>
</div>

<!--<div th:replace="mall/footer::footer-fragment"></div>-->

<!-- jQuery -->
<script src="../../js/jquery.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/md5.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/mall/product_detail.js"></script>
<!--<script src="../../js/mall/comment.js"></script>-->
</body>
</html>