<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>新蜂商城 NewBee商城 newbee-mall</title>
    <link rel="stylesheet" href="../../css/mall/css/swiper.min.css">
    <link rel="stylesheet" href="../../css/mall/css/iconfont.css">
    <link rel="stylesheet" href="../../css/mall/css/common.css">
    <link rel="stylesheet" href="../../css/mall/styles/header.css">
    <link rel="stylesheet" href="../../css/mall/styles/search.css">
    <link rel="stylesheet" href="../../css/admin/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../../css/grzx.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/css.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/zt.css"/>
</head>
<body>


<!-- nav -->
<style type="text/css">
    li:hover #b {
        display: block;
    }

    #b {
        display: none;
    }
</style>
<div id="aaaaLLLL">
    <header id="header">
        <div class="center">
            <ul class="fl">
                <li><a href="index.html">新蜂商城</a></li>
                <li><a href="../goods_get.html">后台管理系统</a></li>
            </ul>
            <div class="fr">
                <!--            <div >-->
                <div class="user" v-if="vip !=null">
                    <ul class="selector">
                        <li>
                            <a href="center.html">
                                个人中心
                            </a>
                        </li>
                        <li>
                            <a href="my_orders.html">
                                我的订单
                            </a>
                        </li>
                        <li>
                            <a href="javascript:loginout()">
                                退出登录
                            </a>
                        </li>
                    </ul>
                    <a href="##" class="username">
                        <div>{{user.nick}}</div>
                        <i class="iconfont icon-down"></i>
                    </a>
                </div>
                <div class="shopcart">
                    <a href="cart.html" style="color: white;"><i class="iconfont icon-cart"></i>
                        购物车(
                        {{cart.count}}
                        )</a>
                </div>
                <!--            </div>-->
                <div v-if="vip==null">
                    <ul class="login">
                        <li><a href="login.html">登录</a></li>
                        <li><a href="register.html">注册</a></li>
                    </ul>
                    <!--                    <div class="shopcart">-->
                    <!--                        <a href="##" style="color: white;"><i class="iconfont icon-cart"></i>-->
                    <!--                            购物车(0)</a>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </header>
    <!--排序-->
    <div class="sort">
        <div class="list">
            <!--            th:href="@{'/search?keyword='+${keyword==null?'':keyword}+'&goodsCategoryId='+${goodsCategoryId==null?'':goodsCategoryId}+'&orderBy=default'}"-->
            <!--                th:class="${orderBy==null || orderBy=='default'?'active':''}"-->
            <div>
                <a @click="orderByNewProduct(sale)" title="按销量从高到低排序">销量</a></div>
            <!--                th:class="${orderBy==null || orderBy=='default'?'active':''}"-->
            <div>
                <a @click="orderByNewProduct(id)" title="按新品上线排序">新品</a></div>
            <!--    @click="orderByNewProduct(promotePrice)"            th:class="${orderBy==null || orderBy=='default'?'active':''}"-->
            <div>
                <ul>
                    <li>价格
                        <ul id="b">
                            <li @click="orderByNewProduct(promotePrice)">按价格从高到低排序</li>
                            <li @click="orderByPrice(promotePrice)">按价格从低到高排序</li>
                            <li></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="goods_item center">
        <div class="main center">
            <div v-if="allProduct.length < 0">
                未查询到商品
            </div>
            <div v-for="(item, number) in allProduct" >
                <div class="item_card_frame">
                    <div class="item_card"><a @click="productD(item.id)" target="_blank"><img
                            :src="item.productImg" :alt="item.productName"></a></div>
                    <div class="item_brand"><a @click="productD(item.id)" target="_blank">
                        {{item.productName}}</a></div>
                    <div class="item_sub_intro">{{item.description}}</div>
                    <div class="item_price">{{item.promotePrice}}.00元</div>
                </div>
            </div>
            <div class="fyq">

                <div class="pagination">
                    <li v-if="current > 1">
                        <a href="#" @click="current--;allProductList()">上一页</a>
                    </li>
                    <li v-if="current==1"><a class="banclick">上一页</a></li>

                    <li v-for="index in indexss" >
                        <a :class="{'active': current == index}" @click="allProductList(index)">{{ index }}</a>
                    </li>
                    <li v-if="current!=pages"><a @click="current++;allProductList()">下一页</a></li>
                    <li v-if="current == pages"><a class="banclick">下一页</a></li>
                </div>
            </div>
        </div>

    </div>
</div>


<!--<div th:replace="mall/footer::footer-fragment"></div>-->
<!-- jQuery -->
<script src="../../js/jquery.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/md5.js"></script>
<script src="../../js/mall/search.js"></script>
</body>
</html>