<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新蜂商城 NewBee商城 newbee-mall</title>
    <link rel="stylesheet" href="../../css/mall/css/swiper.min.css">
    <link rel="stylesheet" href="../../css/mall/css/iconfont.css">
    <link rel="stylesheet" href="../../css/mall/css/common.css">
    <link rel="stylesheet" href="../../css/mall/styles/header.css">
    <link rel="stylesheet" href="../../css/mall/styles/detail.css">
    <link rel="stylesheet" href="../../css/admin/plugins/sweetalert/sweetalert.css"/>
</head>
<body>
<header id="header">
    <div class="center">
        <ul class="fl">
            <li><a href="/index">新蜂商城</a></li>
            <!--            <li><a href="/admin">后台管理系统</a></li>-->
            <!--            <li><a href="https://edu.csdn.net/course/detail/26258">课程视频</a></li>-->
            <!--            <a href="https://juejin.im/book/5da2f9d4f265da5b81794d48?referrer=59199e22a22b9d0058279886">课程文档</a>-->
            <!--            <li><a href="https://gitee.com/newbee-ltd/newbee-donate">捐赠</a></li>-->
            <!--            <li><a href="https://github.com/newbee-ltd/newbee-mall/issues">问题反馈</a></li>-->
            <!--            <li><a href="https://github.com/newbee-ltd/newbee-mall">GitHub 地址</a></li>-->
            <!--            <li><a href="https://gitee.com/newbee-ltd/newbee-mall">码云Gitee 地址</a></li>-->
        </ul>
        <div class="fr">

            <div class="user">
                <ul class="selector">
                    <li>
                        <a href="/personal">
                            个人中心
                        </a>
                    </li>
                    <li>
                        <a href="/orders">
                            我的订单
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            退出登录
                        </a>
                    </li>
                </ul>
                <a href="##" class="username">
                    十三
                    <i class="iconfont icon-down"></i>
                </a>
            </div>
            <div class="shopcart">
                <a href="/shop-cart" style="color: white;"><i class="iconfont icon-cart"></i>
                    购物车(
                    0
                    )</a>
            </div>


        </div>
    </div>
</header>

<div id="detail">
    <!-- nav -->
    <nav th:replace="mall/header::nav-fragment"></nav>

    <div class="dc">
        <div class="content w">
            <div class="title fl">商品详情</div>
            <nav class="fr">
                <li><a href="##">概述</a></li>
                <li>|</li>
                <li><a href="##">详情</a></li>
                <li>|</li>
                <li><a href="##">用户评价</a></li>
                <div class="clear"></div>
            </nav>
            <div class="clear"></div>
        </div>
    </div>

    <div class="intro mt20 w clearfix">
        <div class="left fl" style="position: relative;">
            <div class="swiper-container fl">
                <img :src="detail.productImg">
            </div>
        </div>
        <div class="right fr">

            <div class="h3 ml20 mt20" >{{detail.productName}}</div>
            <div class="sub_title mr40 ml20 mt10">{{detail.description}}</div>
            <div class="item_price mr40 ml20 mt10">
                现价：{{detail.promotePrice}}
                <del>
                    原价：{{detail.price}}
                </del>
                <div >库存：{{detail.stock}}</div>
                <div>销量：{{detail.sale}}</div>
            </div>
            <div class="zh">
                <p>购买数量：</p>
                <select name="productCount" v-model="detail.productCount">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="order">
                <input class="car" type="button" @click="saveAndGoToCart(detail)" value="立即选购"/>
                <input class="car" type="button" @click="saveToCart(detail)" value="加入购物车"/>
            </div>
            <div class="tb-extra ml20" id="J_tbExtra">
                <dl>
                    <dt>承诺</dt>
                    <dd><a class="J_Cont" title="满足7天无理由退换货申请的前提下，包邮商品需要买家承担退货邮费，非包邮商品需要买家承担发货和退货邮费。" href="#"
                           target="_blank"><img src="../../css/mall/image/7d.jpg">7天无理由</a></dd>
                </dl>
                <dl>
                    <dt>支付</dt>
                    <dd><a href="##" target="_blank"><img src="../../css/mall/image/hua.png">蚂蚁花呗</a><a href="##"
                                                                                                     target="_blank"><img
                            src="../../css/mall/image/card.png">信用卡支付</a><a href="##" target="_blank"><img
                            src="../../css/mall/image/ji.png">集分宝</a></dd>
                </dl>
                <dl>
                    <dt>支持</dt>
                    <dd>折旧变现，买新更省钱。<a style="float:none;text-decoration: underline;" href="##">详情</a></dd>
                </dl>

            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- 这里使用的是 th:utext 标签，用 th:text 不会解析 html，用 th:utext 会解析 html -->
    <div class="goods mt20 w clearfix" >
        <span v-html="detail.detail"></span>
    </div>
</div>

<div th:replace="mall/footer::footer-fragment"></div>

<!-- jQuery -->
<script src="../../js/jquery.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/md5.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/mall/product_detail.js"></script>
<!--<script type="text/javascript">-->
<!--    /**-->
<!--     * 添加到购物车-->
<!--     *//-->
<!--    function saveToCart(id) {-->
<!--        var goodsCount = 1;-->
<!--        var data = {-->
<!--            "goodsId": id,-->
<!--            "goodsCount": goodsCount-->
<!--        };-->
<!--        $.ajax({-->
<!--            type: 'POST',-->
<!--            url: '/shop-cart',-->
<!--            contentType: 'application/json',-->
<!--            data: JSON.stringify(data),-->
<!--            success: function (result) {-->
<!--                if (result.resultCode == 200) {-->
<!--                    swal({-->
<!--                        title: "添加成功",-->
<!--                        text: "确认框",-->
<!--                        icon: "success",-->
<!--                        buttons: true,-->
<!--                        dangerMode: true,-->
<!--                    }).then((flag) => {-->
<!--                            window.location.reload();-->
<!--                        }-->
<!--                    );-->
<!--                } else {-->
<!--                    swal(result.message, {-->
<!--                        icon: "error",-->
<!--                    });-->
<!--                }-->
<!--            },-->
<!--            error: function () {-->
<!--                swal("操作失败", {-->
<!--                    icon: "error",-->
<!--                });-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--    /**-->
<!--     * 添加到购物车并跳转至购物车页面-->
<!--     */-->
<!--    function saveAndGoCart(id) {-->
<!--        var goodsCount = 1;-->
<!--        var data = {-->
<!--            "goodsId": id,-->
<!--            "goodsCount": goodsCount-->
<!--        };-->
<!--        $.ajax({-->
<!--            type: 'POST',-->
<!--            url: '/shop-cart',-->
<!--            contentType: 'application/json',-->
<!--            data: JSON.stringify(data),-->
<!--            success: function (result) {-->
<!--                if (result.resultCode == 200) {-->
<!--                    swal({-->
<!--                        title: "已将商品加入购物车",-->
<!--                        icon: "success",-->
<!--                        buttons: {-->
<!--                            cancel: "留在当前页",-->
<!--                            confirm: "去购物车结算"-->
<!--                        },-->
<!--                        dangerMode: false,-->
<!--                    }).then((flag) => {-->
<!--                            if (flag) {-->
<!--                                window.location.href = '/shop-cart';-->
<!--                            }-->
<!--                        }-->
<!--                    );-->
<!--                } else {-->
<!--                    swal(result.message, {-->
<!--                        icon: "error",-->
<!--                    });-->
<!--                }-->
<!--            },-->
<!--            error: function () {-->
<!--                swal("操作失败", {-->
<!--                    icon: "error",-->
<!--                });-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--</script>-->
</body>
</html>