/*detail*/
#detail .dc {
    width: 100%;
    height: 58px;
    background: #f0f0f0;
}

#detail .dc .content {
    height: 58px;
    width: 1226px;
}

#detail .dc .content .title {
    width: 300px;
    height: 58px;
    line-height: 58px;
    font-size: 22px;
    font-weight: bold;
}

#detail .dc .content nav {
    display: inline-block;
    width: 170px;
    height: 58px;
    line-height: 58px;
}
.rate-header{
    border: 1px solid #c8c8c8;
    padding: 10px 0;
    display: none;
}

.rate-score {
    width: 75px;
    padding: 0 20px;
    border-right: 1px dotted #ddd;
    text-align: center;
    display: inline-block;
}
.rate-graph{
    padding-left: 90px;
    padding-top: 22px;
    width: 450px;
}
.graph-scroller {
    width: 400px;
    height: 16px;
    text-align: left;
    position: relative;
}
.graph-desc {
    padding-left: 40px;
}
.rate-graph, .rate-score {
    display: inline-block;
    vertical-align: top;
}
.rate-graph .graph-scroller span {
    position: absolute;
    height: 22px;
    top: -24px;
    left: 13px;
}
.stronger {
    color: #f60;
    font-family: arial;
    font-size: 32px;
    line-height: 32px;
    margin: 0 2px;
}

.rate-tag-box {
    width: 630px;
    display: inline-block;
    vertical-align: top;
}

.rate-tag-label {
    /*overflow: hidden;*/
    color: #ccc;
    width: 16px;
    height: 61px;
    margin-top: 4px;
    font-size: 11px;
    line-height: 12px;
    padding: 0 12px 0 25px;
    background: url(//img.alicdn.com/tps/i3/T12eC3XklrXXXXXXXX-15-52.png) right center no-repeat;
}
.rate-tag-box, .rate-tag-label, .rate-tag-list, .rate-tag-toggle {
    display: inline-block;
    vertical-align: top;
}
.rate-tag-list {
    height: 70px;
    position: relative;
    width: 555px;
    /*height: 70px;*/
}
.rate-tag-list span {
    float: left;
    height: 22px;
    margin: 7px 6px 6px;
}
.tag-posi{
    float: left;
    height: 22px;
    margin: 7px 6px 6px;
}
.rate-tag-list .tag-posi a {
    color: #ff0036;
    border-color: #ffd7dd;
}
.rate-tag-list .tag-neg a {
    position: relative;
    float: left;
    border-radius: 2px;
    line-height: 18px;
    padding: 1px 10px;
    background: #fff;
    box-shadow: 2px 2px 1px #f2f2f2;
    border: 1px solid #d3f4e4;
    white-space: nowrap;
    color: #409280;
}
#detail .dc .content nav li {
    font-size: 14px;
    float: left;
    display: block;
    margin: 0px 5px;
}

#detail .dc .content nav li a {
    color: #333;
    font-size: 14px;
}

#detail .dc .content nav li a:hover {
    color: #ff6700;
}

#detail .intro .left {
    width: 560px;
}

#detail .intro .left > img {
    width: 100%;
    height: 100%;
}

#detail .intro .left .smallbox {
    display: none;
    background-color: rgba(0, 255, 0, 0.3);
    width: 280px;
    height: 280px;
    position: absolute;
    top: 0;
    left: 0;
}

#detail .intro .left .swiper-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#detail .intro .left .swiper-container .swiper-button-prev {
    left: 0;
    background-position: left;
}

#detail .intro .left .swiper-container .swiper-button-next {
    right: 0;
    background-position: right;
}

#detail .intro .right {
    width: 650px;
    background: #f8f8f8;
    padding-bottom: 50px;
}

#detail .intro .right .sub_title {
    font-size: 16px;
    color: #b0b0b0;
    line-height: 20px;
    height: 54px;
    margin-top: 44px;
}

.mui-amount-input {
    /*font-size: 12px;*/
    /* margin: 0; */
    /* height: 26px; */
    border: 1px solid #a7a6ac;
    width: 36px;
    background-position: -406px -41px;
    /* color: #666;*/
}

#detail .intro .right .item_price {
    width: 630px;
    font-size: 22px;
    color: #FF0036;
    /*height: 10px;*/
    /*font-weight: bold;*/
    background-color: #e9e9e9;
    float: left;
}

.abc {
    text-decoration: line-through;
    color: #999;
    font-size: 12px;
    text-align: left;
}

.kucun {
    border: 1px dotted #c9c9c9;
    border-width: 1px 0;
    margin: -1px 20px 0 0;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    clear: both;
    display: flex;
    margin-top: 20px;
}

/*.kucun:after {*/
/*    !*content: "\200B";*!*/
/*    display: none;*/
/*    height: 0;*/
/*    clear: both;*/
/*}*/

.tm-ind-item {
    float: left;
    width: 33%;
    text-align: center;
    position: relative;
    left: -1px;
    border-left: 1px solid #e5dfda;
    flex: 1;
    line-height: 16px;
}

.label11 {
    display: inline-block;
    line-height: 16px;
    height: 16px;
    color: #999;
}

.label22 {
    display: inline-block;
    line-height: 16px;
    height: 16px;
    color: #FF0036;
    font-weight: 700;
    margin-left: 3px;
}


#detail .intro .right .item_price del {
    font-size: 14px;
    margin-left: 5px;
    color: #b0b0b0;
    text-decoration: line-through;
}

#detail .intro .right .order {
    height: 50px;
    line-height: 50px;
    float: left;
    margin-top: 30px;
}

#detail .intro .right .order .car1 {
    height: 50px;
    width: 156px;
    border: none;
    background-color: #ffeded;
    border: 1px solid #FF0036;
    color: #FF0036;
    font-size: 18px;
    cursor: pointer;
    margin-right: 40px;
}

#detail .intro .right .order .car2 {
    height: 50px;
    width: 156px;
    border: none;
    background: #ff0036;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-right: 40px;
}

#detail .intro .right .order .car:hover {
    border: 1px solid #fff;
}

.swiper-container {
    width: 300px;
    height: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
}

.pro-policy {
    height: 100px;
    line-height: 50px;
    float: right;
    margin-top: 80px;
}

.pro-policy a {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    cursor: default;
    white-space: nowrap;
    color: #b0b0b0;
}

.pro-policy span i {
    font-size: 20px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-style: normal;
    vertical-align: middle;
}

.pro-policy span em {
    font-style: normal;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-left: 2px;
    vertical-align: middle;
}

.tb-extra {
    font-size: 13px;
    margin-top: 30px;
    height: 70px;
    width: 55%;
    float: left;
}

.tb-extra2 {
    font-size: 13px;
    margin-top: 10px;
    height: 70px;
    width: 55%;
    float: left;
}

.tb-extra dl {
    overflow: hidden;
    *zoom: 1;
}

.tb-extra dl dt {
    float: left;
    width: 60px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 4px;
    color: #6C6C6C;
}

.tb-extra dl dd a {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    height: 22px;
    line-height: 22px;
    color: #6C6C6C;
}

.goods img {
    width: 100%;
    margin-top: 2px;
}